.header{
    background-color: black;
    color: white;
    align-content: center;


}
    main .Home{
        align-items: center;

    }

    main .Home h1{
         font-size: 12px;
         color: blueviolet;


    }
    main .Home h1:hover{
         
        color: black;
        

   }
